# DALI 2024 Winter Application - Machine Learning Track
### John Guerrerio

The first step of any machine learning project is to get an idea of the general characteristics of the dataset.  This allows us to get a general idea of trends within the dataset and determine interesting areas for analysis.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Superstore.csv')
pd.set_option('display.expand_frame_repr', False)  # turns off truncation when printing the dataset

## General Dataset Information

In [4]:
print("Number of rows: " + str(df.shape[0]))

Number of rows: 9994

In [5]:
print("Headings: ")
print(df.columns.values.tolist())

Headings:
['Unnamed: 0', 'Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit']

In [6]:
print("Sample rows: ")
print(df.head())

Sample rows:
   Unnamed: 0  Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID    Customer Name    Segment        Country  ... Postal Code Region       Product ID         Category Sub-Category                                       Product Name     Sales Quantity  Discount    Profit
0           0     1.0  CA-2016-152156   11/8/2016  11/11/2016             NaN    CG-12520      Claire Gute   Consumer  United States  ...     42420.0  South  FUR-BO-10001798        Furniture    Bookcases                  Bush Somerset Collection Bookcase       NaN      2.0       0.0   41.9136
1           1     NaN             NaN   11/8/2016  11/11/2016    Second Class    CG-12520      Claire Gute   Consumer  United States  ...     42420.0  South  FUR-CH-10000454        Furniture       Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400      3.0       0.0  219.5820
2           2     3.0             NaN   6/12/2016   6/16/2016    Second Class    DV-13045  Darrin Van Huff  Corporate  United States  ...     90036.0   West  OFF-LA-10000240  Office Supplies       Labels  Self-Adhesive Address Labels for Typewriters b...   14.6200      2.0       0.0    6.8714
3           3     4.0  US-2015-108966  10/11/2015  10/18/2015  Standard Class         NaN   Sean O'Donnell   Consumer  United States  ...     33311.0  South              NaN        Furniture       Tables      Bretford CR4500 Series Slim Rectangular Table  957.5775      5.0       NaN -383.0310
4           4     5.0  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335              NaN   Consumer  United States  ...     33311.0  South  OFF-ST-10000760  Office Supplies      Storage                     Eldon Fold 'N Roll Cart System   22.3680      2.0       0.2    2.5164

[5 rows x 22 columns]

## Missing Data

In [7]:
print("Order ID: " + str(df.isnull().sum()))

Order ID: Unnamed: 0         0
Row ID           999
Order ID         999
Order Date       999
Ship Date        999
Ship Mode        999
Customer ID      999
Customer Name    999
Segment          999
Country          999
City             999
State            999
Postal Code      999
Region           999
Product ID       999
Category         999
Sub-Category     999
Product Name     999
Sales            999
Quantity         999
Discount         999
Profit           999
dtype: int64

Surprisingly, there is an equal number of cells missing in each column.  I assume the missing data is missing completely at random (if I had to guess, I would assume random data was removed by the DALI team as part of the challenge).  This means that were we to drop rows missing features of interest, it would not introduce bias into my results.  However, one danger of this approach is that doing so could leave us with too little data to train an effective model.\
\
Alternatively, one could attempt to approximate the missing values.  For the quantitaive columns, one could replace missing cells with the mean or median of the column.  Quantitative cells are harder to find an accurate approximation for, and this would likely require some form of deep learning.

## Exploratory Analysis of Quantitative columns

In [8]:
print("Quantity: ")
print("- Mean: " + str(df["Quantity"].mean()))
print("- Median: " + str(df["Quantity"].median()))
print("- Standard Deviation: " + str(df["Quantity"].std()))

Quantity:
- Mean: 3.7907726514730404
- Median: 3.0
- Standard Deviation: 2.2318433058628617

In [9]:
print("Discount:")
print("- Mean: " + str(df["Discount"].mean()))
print("- Median: " + str(df["Discount"].median()))
print("- Standard Deviation: " + str(df["Discount"].std()))

Discount:
- Mean: 0.15568982768204562
- Median: 0.2
- Standard Deviation: 0.20505003934840815

In [10]:
print("Profit:")
print("- Mean: " + str(df["Profit"].mean()))
print("- Median: " + str(df["Profit"].median()))
print("- Standard Deviation: " + str(df["Profit"].std()))

Profit:
- Mean: 27.61404870483602
- Median: 8.662
- Standard Deviation: 228.13239719792657

## Exploratory Analysis of Qualitative Columns

In [11]:
print(df["Ship Mode"].value_counts())

Standard Class    5357
Second Class      1747
First Class       1389
Same Day           502
Name: Ship Mode, dtype: int64

In [12]:
print("Number of unique customers: " + str(df["Customer ID"].nunique()))

Number of unique customers: 793

In [13]:
onePurchase = 0
multiplePurcahses = 0
purchaseCounts = df["Customer ID"].value_counts()

for (customer, count) in purchaseCounts.items():
    if count == 1:
        onePurchase += 1
    else:
        multiplePurcahses += 1

print("One-time customers: " + str(onePurchase))
print("Repeat customers: " + str(multiplePurcahses))
print("Mean number of purchases per customer: " + str(purchaseCounts.mean()))
print("Median number of purchases per customer: " + str(purchaseCounts.median()))
print("Standard deviation number of purchases per customer: " + str(purchaseCounts.std()))

One-time customers: 8
Repeat customers: 785
Mean number of purchases per customer: 11.343001261034049
Median number of purchases per customer: 11.0
Standard deviation number of purchases per customer: 5.739582532530191

In [14]:
print(df["Segment"].value_counts())

Consumer       4643
Corporate      2737
Home Office    1615
Name: Segment, dtype: int64

In [15]:
print(df["Country"].value_counts())

United States    8995
Name: Country, dtype: int64

In [16]:
cities = df["City"].value_counts()
print(cities.head())  # cities with the top number of purchases

New York City    819
Los Angeles      687
Philadelphia     475
San Francisco    460
Seattle          380
Name: City, dtype: int64

In [17]:
print("Number of unique cities: " + str(len(cities)))

Number of unique cities: 524

In [18]:
states = df["State"].value_counts()
print(states.head())

California      1799
New York        1030
Texas            886
Pennsylvania     535
Washington       458
Name: State, dtype: int64

In [19]:
print("Number of unique states: " + str(len(states)))

Number of unique states: 49

In [20]:
regions = df["Region"].value_counts()
print(regions.head())

West       2877
East       2531
Central    2127
South      1460
Name: Region, dtype: int64

In [21]:
category = df["Category"].value_counts()
print(category)

Office Supplies    5423
Furniture          1909
Technology         1663
Name: Category, dtype: int64

In [22]:
subCategory = df["Sub-Category"].value_counts()
print(subCategory)

Binders        1370
Paper          1233
Furnishings     855
Phones          795
Storage         763
Art             717
Accessories     700
Chairs          560
Appliances      417
Labels          329
Tables          287
Envelopes       225
Bookcases       208
Fasteners       198
Supplies        171
Machines        104
Copiers          63
Name: Sub-Category, dtype: int64

## Areas to Explore

From this analysis, I see two interesting areas of analysis I will focus the rest of this project on:
1. There are a lot of missing cells in the dataset.  We can replace the mising quantitiative cells with the median of the column, but there is no easy fix for missing qualitative cells.  I plan to develop deep-learning based models to predict missing values for the qualitative columns.  Specifically, I plan to predict product category and subcategory from product name.
2. The most important column for a superstore in this dataset is the profit of each purchase.  I plan to develop machine-learning based methods to predict if the profit of a purchase will be above or below the median profit.